<% cache do %>
<div id="bio">
<%= Settings.name.split.first %> is a <%= age %>-year-old

<ul class="delimited">
  <li>web developer</li>
  <li>sysadmin-in-training</li>
  <li>Mac addict</li>
  <li><abbr title="Computer Information Systems">CIS</abbr> major at <%= link_to "ASU", "http://www.asu.edu", rel: :external %></li>
  <li>blogger</li>
  <li>writer</li>
  <li><%= link_to "undead rogue", "http://us.battle.net/wow/en/character/earthen-ring/Adarystus/", rel: :external %></li>
  <li><%= link_to "Mormon", "https://mormonorg.lds.org/me/18K9/", rel: :external %></li>
  <li>geek-of-all-trades</li>
</ul>

who lives with his <%= link_to "cat", "http://www.flickr.com/photos/jbhannah/sets/72157626784508774/", rel: :external %> in Tempe, AZ.
</div>
<% end %>

<%= render partial: 'posts/latest' %>

<%= render partial: 'layouts/tweets' %>
