<% cache "latest_posts" do %>
<div class="sidebar_block" id="latest_posts">
  <h3><%= link_to "Blog", posts_path %></h3>

  <ul>
  <%= content_tag_for(:li, latest_posts, :latest) do |post| %>
    <%= link_to post.title, post %>
    <div class="meta">
      <time datetime="<%= post.published_at.utc.iso8601 %>"><%= post.published_at.strftime("%e %B %Y") %></time>
    </div>
  <% end %>
  </ul>
</div>
<% end %>
