<%= content_tag_for :article, post do %>
  <header class="post_header">
    <h1><%= link_to_unless_current post.title, post %></h1>
    <div class="meta">
      Posted by <%= post.user.to_s.split.first %>
      <time pubdate datetime="<%= post.published_at.utc.to_s(:rfc822) %>"><%= post.published_at.strftime("on %A, %e %B %Y at %H:%M %Z") %></time>
      –
      <%= link_to "Permalink", post %>
    </div>
  </header>

  <%= sanitize post.body %>
<% end %>
