<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>User:</b>
  <%= @post.user %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Published:</b>
  <%= @post.published %>
</p>


<%= link_to 'Back', posts_path %>
