<% cache "latest_tweets", expires_in: 60 do %>
<div class="sidebar_block" id="latest_tweets">
  <h3><%= link_to "Tweets", Settings.social.twitter.url, rel: :external %></h3>

  <%= "Twitter could not be reached, or another error occurred." if latest_tweets.empty? %>
  <ul>
  <% latest_tweets.each do |tweet| %>
    <li class="tweet">
      <%= auto_html(tweet.text) { link(rel: :external) } %>
      <%= link_to Settings.social.twitter.url + "/status/#{tweet.id}", rel: :external do %>
        <time datetime="<%= tweet.created_at.utc.iso8601 %>"><%= time_ago_in_words(tweet.created_at) + " ago" %></time>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
