<div class="sidebar_block" id="latest_tweets">
  <h3><%= link_to "Tweets", Settings.social.twitter.url, rel: :external %></h3>

  <ul>
  <% latest_tweets.each do |tweet| %>
    <li class="tweet">
      <%= auto_link tweet.text, html: { rel: :external } %>
      <%= link_to Settings.social.twitter.url + "/status/#{tweet.id}", rel: :external do %>
        <time datetime="<%= tweet.created_at.utc.to_s(:rfc822) %>"><%= time_ago_in_words(tweet.created_at) + " ago" %></time>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>
