<!DOCTYPE html>
<html>
<head>
  <title><%= Settings.name %></title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= params[:controller] %>">
<div id="page">

<div id="main">
  <header id="header">
    <hgroup id="site_title">
      <h1><%= Settings.name %></h1>
      <h2><%= Settings.handle %></h2>
    </hgroup>
  </header>

  <div id="content">
    <%= yield %>
  </div>
</div>

<div id="sidebar">
  <%= image_tag "avatar.png", id: "avatar", alt: Settings.name %>

  <nav id="social_menu">
    <ul>
      <% Settings.social.each do |k, v| %>
        <li id="<%= k %>"><%= link_to image_tag("social/#{k}.png", class: "social_icon", alt: v["name"]), v["url"] %></li>
      <% end %>
    </ul>
  </nav>

  <%= yield :sidebar %>
</div>

</div>

<script type="text/javascript">
  var _gauges = _gauges || [];
  (function() {
    var t   = document.createElement('script');
    t.type  = 'text/javascript';
    t.async = true;
    t.id    = 'gauges-tracker';
    t.setAttribute('data-site-id', '4f3627dccb25bc4b2e000006');
    t.src = '//secure.gaug.es/track.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(t, s);
  })();
</script>
</body>
</html>
