<% cache(action_suffix: params.to_s + "_header") do %>
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    <% if content_for?(:title) %>
      <%= yield :title %> –
    <% end %>
    <%= Settings.name %>
  </title>

  <%= favicon_link_tag asset_path("favicon.ico") %>
  <%= auto_discovery_link_tag :atom, { controller: :posts, action: :index, format: :atom } %>

  <%= stylesheet_link_tag :application, params[:controller], media: :all %>

  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
  <%= javascript_include_tag params[:controller], :application %>

  <%= csrf_meta_tags %>

  <%= render partial: 'layouts/google_analytics' if Rails.env.production? %>
</head>
<body class="<%= controller_name + ' ' + action_name %>">
<div id="root">
<div id="root_header"></div>

<div id="main">
  <header id="header">
    <hgroup id="site_title">
      <h1><%= link_to_unless_current Settings.name, root_path %></h1>
      <h2><%= Settings.handle %></h2>
    </hgroup>
  </header>
<% end %>

  <div id="content">
    <%= yield %>
  </div>
</div>

<% cache "sidebar_top" do %>
<div id="sidebar">
  <%= link_to image_tag("avatar.png", id: "avatar", alt: Settings.name, title: Settings.name), root_path %>

  <nav id="social_menu">
    <ul>
    <% Settings.social.each do |k, v| %>
      <li id="<%= k %>"><%= link_to image_tag("social/#{k}.png", class: "social_icon", alt: v["name"], title: v["name"]), redirect_path(k), rel: :external %></li>
    <% end %>
    </ul>
  </nav>
<% end %>

  <%= yield :sidebar %>

<% cache "footer" do %>
</div>

<div id="root_footer"></div>
</div>

<footer id="footer">
  Copyright © 2012<%= '-' + Date.today.year.to_s if Date.today.year > 2012 %> <%= link_to Settings.name, root_url %>.
  <%= link_to "Some Rights Reserved", "http://creativecommons.org/licenses/by-nc-sa/3.0/", rel: [:external, :license] %>.
  <%= link_to "Website code on GitHub", "https://github.com/jbhannah/jbhannah", rel: :external %>.
</footer>
</body>
</html>
<% end %>
